

.emitter{
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  width: 200px;
  height:10px;
}
.emitter-on{
  background-color: rgb(68, 253, 68);
}
.emitter-off{
  background-color: white;
}