.control-dtv {
  display: flex;
  width: 298px;
  height: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  user-select: none;
  background-image: url('./img/Case.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.emitter{
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  width: 200px;
  height:10px;
}
.emitter-on{
  background-color: rgb(68, 253, 68);
}
.emitter-off{
  background-color: white;
}